
li {
  list-style: none;;
}

body {
  background: var(--grey-body);
  font-style: 0px;
}

label{
  display: block;;
  margin-bottom:0.5rem;
}

input{
  width: 100%;
  padding: 0.7rem 1.2rem;
  border: 1px solid #c1c5c8;
  border-radius: 0.2rem;
}

footer {}

.btn {}

.info {
  margin-top: 0rem;
  font-size: 0.4rem;
}

.lock-icon {
  width: 0%;
margin-right:0.3rem;
}

@media (min-width: 40rem){}
